.room_container {
  display: inline-block;
}

.room_container h1 {
  width: 90%;
}

.room_container > button {
  position: absolute;
  right: 37px;
  top: 9rem;
  padding: 5px 9px;
  border: 1px solid green;
  border-radius: 8px;
  background: white;
  color: green;
}
